
.dashboardStyles{
    background-color: darkslateblue;
    background-color: gold;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 80vh;
    width: 86vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media(280px <= width <=600px){
   
    .dashboardStyles{
        background-color: brown;
        align-items: center;
        width: 94vw;
      
    }
}