.container{
    width: 80vw;
    height: 6vh;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.title{
    /* background-color: blue; */
    width: 62vw;
    padding:4px;
}
.text{
    color:white;
    cursor: pointer;
    padding:4px;
}
.count{
    /* background-color: brown; */
    width: 8vw;
    padding:4px;
    font-size:1.3rem;
    color: aliceblue;
}
.counterBtns{
    /* background-color: red; */
    width: 10vw;
    padding:4px;
   
}


@media(min-width:280px) and (max-width:600px){
    .container{
        width: 90vw;
        height: 6vh;
        background-color: orange;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }

    .title{
        /* background-color: blue; */
        width: 60vw;
        padding:4px;
    }
    .text{
        color:white;
        cursor: pointer;
        padding:4px;
    }
    .count{
        /* background-color: brown; */
        width: 12vw;
        padding:4px;
        font-size:1.3rem;
        color: aliceblue;
    }
    .counterBtns{
        /* background-color: red; */
        width: 18vw;
        padding:4px;
       
    }
    
  }
